# SBT compiled build system.
/project/project
/project/target

# SBT output directory.
/target

# Generated startup scripts for main classes.
/bin

# IDEA output directory.
/classes

# Local build files for protobuf. Don't put these in git.
/generated

# Local user settings for SBT.
/local.sbt

# IDEA meta files.
/.idea

# VIM temporary files.
*.swp

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
