# SBT compiled build system
/project/project
/project/target

# Output directory.
/target

# Local build files for protobuf. Don't put these in git
/generated

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA meta files
/.idea
*.iml
