# GitHub pages.
/.web

# SBT compiled build system.
/projects/*/project/project
/projects/*/project/target

# SBT output directory.
/projects/*/target

# Generated startup scripts for main classes.
/projects/*/bin

# Local user settings for SBT.
/projects/*/local.sbt

# IDEA meta files.
.idea

# Temporary editor files.
*.swp
*~

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JNI configure output
config.log
