language: cpp
compiler: clang
sudo: false

addons:
  apt:
    sources: ['ubuntu-toolchain-r-test','llvm-toolchain-precise-3.5']
    packages: ['clang-3.5', 'p7zip-full']

cache:
  directories:
    - $HOME/cache

env:
  global:
    - secure: "jp3Uh0gV0qJoRpWweh26NsYFPimi6AAVsCeDwrT+ZijcluxWuiKV/67wcTXlqRzsCcOJpyIAF9ZP981Djw0ji9ecBGPj3I8pXwVwBQRHs6P60DBntclZjAqWEU9WJCFKNpf8NrEVLoLCN9dGJfZ9SYCK5DGABJhsb4hCp84gpGc="
  matrix:
    - TOX4J_TARGET=arm-linux-androideabi
    #- TOX4J_TARGET=i686-linux-android
    - TOX4J_TARGET=host TEST_GOAL=correctness
    - TOX4J_TARGET=host TEST_GOAL=performance

matrix:
  fast_finish: true
  allow_failures:
    - env: TOX4J_TARGET=host TEST_GOAL=performance

install:
  - export ANDROID_NDK_VERSION="r10e"
  - export ANDROID_NDK_HOME="$HOME/android-ndk-$ANDROID_NDK_VERSION"
  - export PATH="$HOME/.usr/bin:$PATH"
  - export PKG_CONFIG_PATH="$HOME/.usr/lib/pkgconfig"
  - export CFLAGS="-O3 -isystem $HOME/.usr/include"
  - export CXXFLAGS="-O3 -isystem $HOME/.usr/include"
  - if [ "$TOX4J_TARGET" = "host" ]; then export CPPFLAGS="-I$HOME/.usr/include"; fi
  - if [ "$TOX4J_TARGET" = "host" ]; then export LDFLAGS="-L$HOME/.usr/lib"; fi
  - tools/travis/install "$HOME" "$PWD"

script:
  - tools/travis/script

before_cache:
  - rm $HOME/cache/global/sbt/boot/sbt.boot.lock

after_success:
  - tools/travis/after_success

# whitelist
branches:
  only:
    - auto

notifications:
  webhooks: http://slevermann.de:54856/travis
