language: cpp
compiler: clang

cache:
  directories:
    - $HOME/.ivy2
    - $HOME/.m2
    - $HOME/travis-cache

env:
  - TOX4J_TARGET=arm-linux-androideabi
  #- TOX4J_TARGET=i686-linux-android
  - TOX4J_TARGET=host

before_install:
  - java -version
  - javac -version
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - ls -a $HOME
  - tools/travis-install "$HOME/travis-cache"

script:
  # Compile first, so a compile error fails the build.
  - yes q | sbt compile test:compile scalastyle test:scalastyle checkstyle test:checkstyle
  # Compile again, because sbt coverage deleted our native library.
  - if [ "$TOX4J_TARGET" = "host" ]; then yes q | sbt coverage compile test || true; fi

after_success:
  - if [ "$TOX4J_TARGET" = "host" ]; then yes q | sbt coveralls; fi

# whitelist
branches:
  only:
    - auto

notifications:
  webhooks: http://slevermann.de:54856/travis
