import Jni.Keys._

val codeRoot = file(System.getenv("HOME")) / "code/git"

// Host build:
pkgConfigPath += codeRoot / "_install/lib/pkgconfig"

// Android build:
//toolchainPath := Some(baseDirectory.value / "android/arm-linux-androideabi")
//pkgConfigPath += toolchainPath.value.map(_ / "sysroot/usr/lib/pkgconfig").get
//jniSourceFiles in Compile += file(System.getenv("HOME")) /
//  "usr/android-ndk/sources/android/cpufeatures/cpu-features.c"
