[project]
	description = New and improved java wrapper for Tox
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Levermann (sonOfRa)
	owner = group user/iphydf
[access "refs/for/refs/*"]
	read = group user/Simon Levermann (sonOfRa)
	push = group user/Simon Levermann (sonOfRa)
	label-Code-Review = -2..+2 group user/Simon Levermann (sonOfRa)
	label-Verified = -1..+1 group user/Simon Levermann (sonOfRa)
	rebase = group user/Simon Levermann (sonOfRa)
	removeReviewer = group user/Simon Levermann (sonOfRa)
	submit = group user/Simon Levermann (sonOfRa)
[access "refs/heads/*"]
	read = group user/Simon Levermann (sonOfRa)
	create = group user/Simon Levermann (sonOfRa)
	push = +force group user/Simon Levermann (sonOfRa)
	pushMerge = group user/Simon Levermann (sonOfRa)
[access "refs/tags/*"]
	push = +force group user/Simon Levermann (sonOfRa)
	pushTag = group user/Simon Levermann (sonOfRa)
	pushSignedTag = group user/Simon Levermann (sonOfRa)
